body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8; /* color plomo */
  color: #333;
}

h1 {
  color: #008557; /* color verde */
}

form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #008557; /* color verde */
  background-color: #fff;
}

button {
  background-color: #e93938; /* color rojo */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #c62b2b; /* rojo más oscuro al pasar el ratón */
}
